@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial , sans-serif;
    background-color: #f8f9fa;
    color: #333;
    
    align-items: center;
    
    min-height: 100vh;
    padding: 20px;
}
.container{
    max-width: 1400px;
    text-align: center;
}
h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.destination-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.destination{
    position: relative;
    width: 350px;
    height: 220px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0p 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    margin-top: 15px;
}
#faire{
    text-align: center;
    margin-left: 560px;
}
.destination img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.destination:hover{
    transform: scale(1.1);
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    color: #326ac6;
    padding: 10px;
    text-align: right;
    opacity: 0;
    transform: opacity 0.3 ease;
}
.destination:hover .overlay{
    opacity: 1;
}
.discover-btn{
    padding: 5px 10px;
    background-color: #123bb5;
    border: none;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.discover-btn:hover{
    background-color: #ffd700;
}


.dest{
    width: 250px;
}
.texte{
    display: flex;
    justify-content: space-around;
}
.pied{
    line-height: center;
    text-align: center;
}
hr{
    background-color:white;
}
footer{
    background-color: rgb(3, 3, 94);
    color: white;
    padding-top: 20px;
    font-size: 17px;
    font-family:sans-serif;
}
.fa-mail-bulk{
    color: white;
}
.fa-facebook{
    color: skyblue;
}
.fa-youtube{
    color: red;
}