@font-face {
    font-family: oswald;
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}
#moi{
    background-image:  linear-gradient(to top left,rgba(10, 85, 245, 0.952), rgba(230, 134, 9, 0.952) ),url('');
    border: none;
}
.body{
    background-image:  linear-gradient(to top left,rgba(9, 209, 216, 0.788), rgba(232, 233, 225, 0) ),url('fond22.jpg');
}
.destination{
    
    width: 100%;
    margin-top: 0px;
    /* height: auto; */
}
.heberge1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 6%); */
    margin-bottom: 15px;
}
.heberge2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 6%); */
    margin-bottom: 15px;
}
.heberge3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 6%); */
    margin-bottom: 15px;
}
.heberge4{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 6%); */
    margin-bottom: 15px;
}
.heberge5{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 6%); */
    margin-bottom: 5px;
}
.heberge6{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* transform: translate(0%, 20%); */
    margin-top: 15px;
}
h4{
    font-family: montserrat;
}
p{
    font-family: oswald;
}
.navBar{
    z-index: 999;
    position: sticky;
}
section{
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
    background-image:  linear-gradient(to top left,rgba(243, 245, 245, 0.952), rgba(27, 201, 245, 0.952) ),url('');
}
.dest{
    width: 250px;
}
.texte{
    display: flex;
    justify-content: space-around;
}
.pied{
    line-height: center;
    text-align: center;
}
hr{
    background-color:white;
}
footer{
    background-color: rgb(3, 3, 94);
    color: white;
    padding-top: 20px;
    font-size: 17px;
    font-family:sans-serif;
}
.fa-mail-bulk{
    color: white;
}
.fa-facebook{
    color: skyblue;
}
.fa-youtube{
    color: red;
}