.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 100px;
    /* background-image: url("vuePlage.jpg"); */
    /* background-size: cover; */
    background-color: blue;
}
.logo{
    max-height: 60px;
}
.logo img{
    object-fit: contain;
    width: 100%;
    max-height: 60px;
    border-radius: 50px;
}
.navLinks{
    width: 50%;
}
.navLinks ul{
    flex-wrap: wrap;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
/* .navLinks ul li{
    list-style-type: none;
} */
.navLinks ul li a{
    font-size: 1.5rem;
    padding: 10px;
}
.navLinks ul li a:hover{
    text-decoration: none;
    padding: 15px;
    background-color: rgb(233, 223, 223);
    border-radius: 30px;
}
.searchBar{
    border: none;
    background-color: rgb(236, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}
.searchBar input{
    border: none;
    background-color: rgb(236, 222, 222);
}
.searchBar label{
    margin: 0;
}
.fa-user{
    font-size: 35px;
}

.menuHumberger{
    display: none;
}
.fa-user{
    font-size: 35px;
}
.desconnectButton{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 50px;
}
.desconnectButton:hover{
    background-color: orangered;
}
.desconnectList{
    display: none;
    background-color: rgba(3, 3, 68, 0.945);
    padding: 10%;
}
.desconnectList ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.desconnectList ul li a{
    display: block;
    color: white;
    width: 100%;
}
.desconnectList ul li a:hover{
    background-color:  rgba(227, 227, 240, 0.815);
} 
.showDesconnectList{
    display: block;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    text-align: center;
    width: 200%;
}
/* configuration responsive */
@media (max-width: 900px){
    .menuHumberger{
        display: block;
        cursor: pointer;
        font-size: 30px;
    }
    .menuHumberger .fa:hover{
        color: white;
    }
    .menuHumberger{
        display: block;
        z-index: 999;
    }
    .menuHumberger .fa-bars:hover{
        color: white;
    }
    .navLinks{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(56, 17, 230, 0.466);
        /* flouter l'arrière plan => */
        backdrop-filter: blur(1px);
        /* end => */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        /* display: none; */
    }
    .mobileMenu{
        margin-left: 0;
    }
    .navLinks ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* display: none; */
    }
    .navLinks ul li{
        width: 100%;
        text-align: center;
    }
    .navLinks ul li a{
        display: block;
        font-size: 35px;
        width: 100%;
        padding: 2%;
    }
    .navLinks ul li a:hover{
        background-color: rgba(56, 17, 230, 0.603);
    }
}