/* style contact */
.contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: blue; */
}
.leftHand{
    width: 50%;
    margin: 0;
    padding: 0;
}
.leftHand hr{
    width: 90%;
    border: 2px solid blue;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 2%;
}
.leftHand ul{
    width: 40%;
    margin: 0 auto;
    list-style: none;
}
.leftHand ul li{
    width: 100%;
}
.leftHand ul li .conteinerLi{
    width: 100%;
    display: flex;
    align-items: center;
}
.leftHand ul li .conteinerLi p .fa{
    border: 1px solid black;
    border-radius: 100px;
    margin-right: 5px;
    padding: 10px;
    color: blue;

}
.rightHand{
    width: 50%;
    margin: 0;
    padding: 0;
}
.rightHand form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightHand form input{
    width: 70%;
    border-radius: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(233, 223, 223);
}
.rightHand form textarea{
    width: 70%;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(233, 223, 223);
}
.rightHand form input[type="submit"]{
    margin-top: 10px;
    width: 20%;
    background-color: rgb(233, 223, 223);
}
h1{
    text-align: center;
}
/* responsibe design */
@media (max-width: 900px){
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: blue; */
    }
    .leftHand ul{
        width: 90%;
    }
    .leftHand ul li{
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .leftHand{
        width: 80%;
    }
    .leftHand hr{
        width: 90%;
    }
    .rightHand{
        width: 80%;
    }
    .rightHand form input[type="submit"]{
        margin-top: 10px;
        width: 20%;
        padding: 3%;
    }
    .email p{
        max-width: 80%;
        overflow: hidden;
        word-wrap: break-word;
    }
    .rightHand form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightHand form input{
        width: 90%;
        border-radius: 50px;
        padding: 10px;
        border: none;
        background-color: rgb(233, 223, 223);
    }
    .rightHand form textarea{
        width: 90%;
        border-radius: 20px;
        padding: 5px;
        background-color: rgb(233, 223, 223);
    }
    .rightHand form input[type="submit"]{
        margin-top: 10px;
        width: 30%;
    }
    .leftHand ul li .conteinerLi{
        /* background-color: blue; */
        width: 70%;
        margin: 0 auto;
    }
}
.texte{
    display: flex;
    justify-content: space-around;
}
.pied{
    line-height: center;
    text-align: center;
}
hr{
    background-color:white;
}
footer{
    background-color: rgb(3, 3, 94);
    color: white;
    padding-top: 20px;
    font-size: 17px;
    font-family: sans-serif;
}
.fa-mail-bulk{
    color: white;
}
.fa-facebook{
    color: skyblue;
}
.fa-youtube{
    color: red;
}

